%h1
  .delete_messages
    ご利用中の以下のユーザーを退会しても大丈夫ですか?
.delete-area
  .delete-user
    = "ユーザー名:#{@user.name}"
  .delete-btn
    = link_to '退会する', user_path(@user.name), method:'delete', class: 'user-btn'