.post-info-area
  .posts-area
    .title-area
      .text-area
        %div
          = @post.title
      .content-area
        %div
          = @post.content

.post-edit-area
  -if current_user?(current_user) && logged_in?
    = link_to '編集', user_edit_post_path(current_user.name,@post.title,@post.number),class: 'link-text'
    = link_to '削除', user_destroy_post_path(current_user.name,@post.title,@post.number),method:'delete',class: 'link-text'