* {
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    max-width: 960px;
}

header {
    display: flex;
    width: 100vw;
    height: 60px;
    min-width: 960px;
    background-image: image-url("79987891.png");
    align-items: center;
    .title {
        margin-right: auto;
        color: white;
    }
    .menu_item {
        list-style: none;
        display: inline-block;
        width: auto;
        padding: 10px;
        color: white;
        text-align: right;
    }
}

nav {
    width: 100vw;
    min-width: 1000px;
    background-color: blue;
    height: 30px;
    align-items: center;
    .rightul {
        text-align: right;
        .rightli {
            display: inline;
        }
    }
}

footer {
    width: 100vw;
    height: 30px;
    background-image: image-url("79987891.png");
    color: red;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
}

@import 'home';
@import 'users';
@import 'about';
@import 'sessions';